<section class="main-slider-section">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="img-1 img-cmn">
        <div class="container" style="padding-top: 200px">
          <div
            class="row gx-0"
            style="position: relative; border: 1px solid white"
          >
            <div class="col-md-12" style="height: 300px">
              <div class="count-number">
                <h4 class="number" style="color: white" data-number="21">21</h4>
                <p>Years of Experienced</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="img-2 img-cmn"></div>
    </ng-template>
  </owl-carousel-o>
</section>
