<section class="ftco-section ftco-portfolio bg-light">
    <div class="row justify-content-center no-gutters">
        <div class="col-md-12 heading-section text-center ftco-animate mb-5 fadeInUp ftco-animated">
            <h2 class="mb-2">Our Works</h2>
        </div>
    </div>
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-12 portfolio-wrap mt-0">
                <div class="row gx-0 align-items-center">
                    <div class="col-md-5 img">
                    </div>
                    <div class="col-md-7 col-web-design">
                        <div class="text">
                            <div class="webd-cont">
                                <div class="desc">
                                    <div class="top">
                                        <span class="subheading">Web Design</span>
                                        <h2 class="mb-2"><a href="work.html">Cassette tape</a></h2>
                                    </div>
                                    <div class="absolute">
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                            Consonantia, there live the blind texts.</p>
                                        <div class="icon d-flex align-items-center mb-4">
                                            <div class="img"></div>
                                            <div class="position px-3">
                                                <h4 class="mb-0">Jamie Jonson</h4>
                                                <span>avo.com</span>
                                            </div>
                                        </div>
                                        <p><a href="#" class="custom-btn">View Portfolio</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 portfolio-wrap">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-5 order-md-last img" style="background-image: url(images/work-2.jpg);">
                    </div>
                    <div class="col-md-7">
                        <div class="text pt-5 pr-md-5 ftco-animate">
                            <div class="px-4 px-lg-4">
                                <div class="desc text-md-right">
                                    <div class="top">
                                        <span class="subheading">Application</span>
                                        <h2 class="mb-2"><a href="work.html">Miniwall Clock</a></h2>
                                    </div>
                                    <div class="absolute">
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                            Consonantia, there live the blind texts.</p>
                                        <div class="d-flex w-100">
                                            <div class="icon d-flex align-items-center ml-md-auto mb-4">
                                                <div class="img" style="background-image: url(images/person_2.jpg);">
                                                </div>
                                                <div class="position pl-3 text-left">
                                                    <h4 class="mb-0">Jamie Jonson</h4>
                                                    <span>avo.com</span>
                                                </div>
                                            </div>
                                        </div>
                                        <p><a href="#" class="custom-btn">View Portfolio</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 portfolio-wrap">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-5 img" style="background-image: url(images/work-3.jpg);">
                    </div>
                    <div class="col-md-7">
                        <div class="text pt-5 pl-md-5 pl-md-4 ftco-animate">
                            <div class="px-4 px-lg-4">
                                <div class="desc">
                                    <div class="top">
                                        <span class="subheading">UI/UX Design</span>
                                        <h2 class="mb-2"><a href="work.html">Avo Portfolio Agency</a></h2>
                                    </div>
                                    <div class="absolute">
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                            Consonantia, there live the blind texts.</p>
                                        <div class="icon d-flex align-items-center mb-4">
                                            <div class="img" style="background-image: url(images/person_3.jpg);"></div>
                                            <div class="position pl-3">
                                                <h4 class="mb-0">Jamie Jonson</h4>
                                                <span>avo.com</span>
                                            </div>
                                        </div>
                                        <p><a href="#" class="custom-btn">View Portfolio</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 portfolio-wrap">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-5 order-md-last img" style="background-image: url(images/work-4.jpg);">
                    </div>
                    <div class="col-md-7">
                        <div class="text pt-5 pr-md-5 ftco-animate">
                            <div class="px-4 px-lg-4">
                                <div class="desc text-md-right">
                                    <div class="top">
                                        <span class="subheading">Web Development</span>
                                        <h2 class="mb-2"><a href="work.html">Hand Writing</a></h2>
                                    </div>
                                    <div class="absolute">
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                            Consonantia, there live the blind texts.</p>
                                        <div class="d-flex w-100">
                                            <div class="icon d-flex align-items-center ml-md-auto mb-4">
                                                <div class="img" style="background-image: url(images/person_2.jpg);">
                                                </div>
                                                <div class="position pl-3 text-left">
                                                    <h4 class="mb-0">Jamie Jonson</h4>
                                                    <span>avo.com</span>
                                                </div>
                                            </div>
                                        </div>
                                        <p><a href="#" class="custom-btn">View Portfolio</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 portfolio-wrap">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-5 img" style="background-image: url(images/work-5.jpg);">
                    </div>
                    <div class="col-md-7">
                        <div class="text pt-5 pl-md-5 pl-md-4 ftco-animate">
                            <div class="px-4 px-lg-4">
                                <div class="desc">
                                    <div class="top">
                                        <span class="subheading">Illustration</span>
                                        <h2 class="mb-2"><a href="work.html">Keyboard</a></h2>
                                    </div>
                                    <div class="absolute">
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                            Consonantia, there live the blind texts.</p>
                                        <div class="icon d-flex align-items-center mb-4">
                                            <div class="img" style="background-image: url(images/person_2.jpg);"></div>
                                            <div class="position pl-3">
                                                <h4 class="mb-0">Jamie Jonson</h4>
                                                <span>avo.com</span>
                                            </div>
                                        </div>
                                        <p><a href="#" class="custom-btn">View Portfolio</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 portfolio-wrap">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-5 order-md-last img" style="background-image: url(images/work-6.jpg);">
                    </div>
                    <div class="col-md-7">
                        <div class="text pt-5 pr-md-5 ftco-animate">
                            <div class="px-4 px-lg-4">
                                <div class="desc text-md-right">
                                    <div class="top">
                                        <span class="subheading">Web Development</span>
                                        <h2 class="mb-2"><a href="work.html">Spiral</a></h2>
                                    </div>
                                    <div class="absolute">
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                            Consonantia, there live the blind texts.</p>
                                        <div class="d-flex w-100">
                                            <div class="icon d-flex align-items-center ml-md-auto mb-4">
                                                <div class="img" style="background-image: url(images/person_2.jpg);">
                                                </div>
                                                <div class="position pl-3 text-left">
                                                    <h4 class="mb-0">Jamie Jonson</h4>
                                                    <span>avo.com</span>
                                                </div>
                                            </div>
                                        </div>
                                        <p><a href="#" class="custom-btn">View Portfolio</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="degree-leftvvv"></div>
</section>