@import "./varibles.scss";
@import "./mymixin.scss";

/*====start:common scss====== */
body {
  font-family: "Nunito Sans", Arial, sans-serif;
  line-height: 1.8;
}
.container {
  max-width: 1000px;
}
/*====end:common scss====== */

/*====start:media quires scss====== */
@media only screen and (max-width: 1200px) {
  /*start:main slider section*/
  .img-cmn {
    height: 538px;
  }
  .img-cmn .container {
    padding-top: 130px;
  }
  .img-cmn .img-video {
    bottom: -27%;
  }
  /*end:main slider section*/
}

@media only screen and (max-width: 1024px) {
  /*start:main slider section*/
  .img-cmn .container {
    padding-top: 120px;
  }
  .img-cmn .img-video {
    bottom: -27%;
  }
  /*end:main slider section*/
}

@media only screen and (max-width: 991.98px) {
  /*start:header section*/

  // .main-nav {
  //   background: #000000 !important;
  //   position: relative;
  //   top: 0;
  // }

  /*end:header section*/

  /*start:main slider section*/
  .img-cmn .text {
    width: 60%;
  }
  .img-cmn .text h1 {
    font-size: 30px;
  }
  .img-cmn .container {
    padding-top: 170px;
  }
  .img-cmn .img-video {
    bottom: -43%;
    right: 36%;
  }
  /*end:main slider section*/
}

@media only screen and (max-width: 767.98px) {
  /*start:main slider section*/
  .img-cmn .text {
    width: 82%;
    margin-bottom: 4em;
  }
  .img-cmn .text h1 {
    font-size: 22px;
    text-transform: capitalize;
  }
  .img-cmn .slider-rec-btn {
    padding: 9px;
  }
  .count-number {
    position: relative;
    width: 50%;
    text-align: left;
    font-size: 14px;
  }
  .count-number .number {
    padding-left: 15px;
    padding-right: 0;
    font-size: 26px;
  }
  .count-number:after {
    left: 0;
    top: 0;
  }
  .img-cmn .img-video {
    bottom: -8%;
  }
  /*end:main slider section*/

  /*start:about-us section*/
  .about-us-section h2 {
    font-size: 28px;
  }
  /*end:about-us section*/
}
@media only screen and (max-width: 425px) {
  /*start:main slider section*/
  .img-cmn .container {
    padding-top: 120px;
  }
  .img-cmn .img-video {
    bottom: -4%;
  }
  /*end:main slider section*/
}

@media only screen and (max-width: 375px) {
  /*start:main slider section*/
  .img-cmn .img-video {
    bottom: 0;
  }
  /*end:main slider section*/
}
/*====end:media quires scss====== */
