$color-red: red;

/*===start:header colors====*/
$header-color-1: #d1002c;
$header-color-2: white;
/*===end:header colors====*/

/*===start:main-slider colors====*/

$main-slider-color-1: #fff;
$main-slider-color-2: #000000;
$main-slider-color-3: #d1002c;

/*===end:main-slider colors====*/
